.box {
    height: 170px;
    width: 28%;
    border-radius: 10px;
    margin: 2vh;
    padding: 2vh;
    display: inline-flex;
    text-align: center;
}

.box > .name {
	font-family: 'Khand', sans-serif;
    clear: both;
    text-align: center;
    font-size: 3vh;
    width: 100%;
    position: absolute;
    -webkit-transform: translateZ(1px);
    -moz-transform: translateZ(1px);
}

.delay {
    background-color: hsl(0, 100%, 90%);
}

.reverb {
    background-color: hsl(0, 100%, 90%);
}

.overdrive {
    background-color: hsl(0, 100%, 90%);
}

.volume {
    background-color: hsl(0, 100%, 90%);
}

.cabinet {
    background-color: hsl(0, 100%, 90%);
}

.box {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
}

.box .bgs {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.box .bg, .box .obg {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0px;
    border-radius: 10px;
}

.box .bg:nth-child(1) {
    background: black;
    -webkit-transform: translateZ(-3px);
}
.box .bg:nth-child(2) {
    background: black;
    -webkit-transform: translateZ(-6px);
}
.box .bg:nth-child(3) {
    background: black;
    -webkit-transform: translateZ(-10px);
}
.box .bg:nth-child(4) {
    background: black;
    -webkit-transform: translateZ(-14px);
}
.box .bg:nth-child(5) {
    background: black;
    -webkit-transform: translateZ(-19px);
}
.box .bg:nth-child(6) {
    background: black;
    -webkit-transform: translateZ(-24px);
}
.box .bg:nth-child(7) {
    background: black;
    -webkit-transform: translateZ(-30px);
}
.box .bg:nth-child(8) {
    background: black;
    -webkit-transform: translateZ(-30px);
}
.box .bg:nth-child(9) {
    background: black;
    -webkit-transform: translateZ(-37px);
}
.box .bg:nth-child(10) {
    background: black;
    -webkit-transform: translateZ(-44px);
}
.box .bg:nth-child(11) {
    background: black;
    -webkit-transform: translateZ(-50px);
}
.box .bg:nth-child(12) {
    background: black;
    -webkit-transform: translateZ(-57px);
}
.box .bg:nth-child(13) {
    background: black;
    -webkit-transform: translateZ(-64px);
}
.box .bg:nth-child(14) {
    background: black;
    -webkit-transform: translateZ(-75px);
}
