/* pot.css */

.pots {
	width: 100%;
	-webkit-transform: translateZ(1px) -moz-transform: translateZ(1px)
}

.pot {
	font-size: 2vh;
	text-align: center;
}

.pot.small {
	height: 5vh;
	width: 5vh
}

.pot.small .knobHolder {
	height: 5vh;
	width: 5vh;
}

.pot.small .knob {	
	height: 5vh;
	width: 5vh;
	background-size: 5vh 5vh;
}

.pot.small .nameHolder {
	top: 1.5vh;
}

.nameHolder {
	right: 50%;
	top: 3vh;
}

.knob {
	height: 5vh;
	width: 5vh;
	background-size: 5vh;
	border-radius: 50%;
}

.overdrive .knob {
	background-image: url("../img/pot1.png");
}

.delay .knob {
	background-image: url("../img/pot2.png");
}

.reverb .knob {
	background-image: url("../img/pot3.png");
}

.volume .knob {
	background-image: url("../img/pot4.png");
}

.cabinet .knob {
	background-image: url("../img/pot5.png");
}

.pot .name {
	font-size: 3vh;
	margin-right: -100%;
}

.knobHolder {
	border-radius: 50%;
	background-color: #f7f7f7;
	height: 5vh;
	width: 5vh;
	z-index: 2;
	cursor: pointer;
}