.switch {
    cursor: pointer;
    margin: 1vh;
    text-align: center;
    display: inline-block;
    width: 6vh;
}

.button {
    height: 5vh;
    width: 6vh;
    background-size: 100%;
}

.switches {
    position: absolute;
    bottom: 2vh;
    left: 0;
    width: 100%;
    -webkit-transform: translateZ(1px);
    -moz-transform: translateZ(1px);
    text-align: right;
}
