.switch {
    cursor: pointer;
    margin: 1vh;
    text-align: center;
    display: inline-block;
    width: 6vh;
}

.button {
    height: 5vh;
    width: 6vh;
    background-size: 100%;
}

.switches {
    position: absolute;
    top: 70%;
    left: 0;
    text-align: center;
    left: 65%;
}
}
