<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>

   <!-- 타입 별칭 설정 -->
   <typeAliases>
      <typeAlias type="global.sesoc.jazart.vo.User" alias="User" />
      <typeAlias type="global.sesoc.jazart.vo.Songinfo" alias="Songinfo" />
      <typeAlias type="global.sesoc.jazart.vo.Board" alias="Board" />
      <typeAlias type="global.sesoc.jazart.vo.Songreply" alias="Songreply" />
      <typeAlias type="global.sesoc.jazart.vo.Boardreply" alias="Boardreply" />
   </typeAliases>

   <mappers>
      <mapper resource="mappers/userMapper.xml" />
      <mapper resource="mappers/songMapper.xml" />
      <mapper resource="mappers/boardMapper.xml" />
      <mapper resource="mappers/sampleMapper.xml" />
   </mappers>
   
</configuration>