<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="global.sesoc.jazart.dao.BoardMapper">
   <insert id="write" parameterType="Board">
      insert 
      into 
         board
         (
          boardNum      
         ,board_tag            
         ,board_nickname
         ,board_title
         ,board_content         
         ,board_inputdate   
         ,board_hits         
         )
      values 
         (
            board_seq.nextval
            ,#{board_tag}
            ,#{board_nickname}
            ,#{board_title}
            ,#{board_content}
            ,sysdate
            ,0   
         )
   </insert>

   <select id="boardList" resultType="Board">
      select
         boardNum      
         ,board_tag            
         ,board_nickname
         ,board_title
         ,board_content         
         ,to_char(board_inputdate, 'yyyy-mm-dd') board_inputdate      
         ,board_hits         
      from
         board   
      order by
         boardnum desc
   </select>
   <!-- 1 -->
   <select id="selectList" parameterType="int" resultType="Board" >
      select
         boardNum      
         ,board_tag
         ,board_title         
         ,board_nickname   
         ,board_content      
         ,to_char(board_inputdate, 'yyyy-mm-dd hh:mi') board_inputdate      
         ,board_hits
      from
         board
      where
         boardnum=#{boardnum}
   
   </select>
   <update id="updateBoard" parameterType="Board">
	update board set 
		 board_tag=#{board_tag}
		,board_title=#{board_title}
		,board_content=#{board_content}
		,board_inputdate=sysdate
		 where boardnum=#{boardnum}
</update>
<delete id="deleteBoard" parameterType="Board">
	delete board where boardnum=#{boardnum}
</delete>
</mapper>   