<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="global.sesoc.jazart.dao.ChartMapper">


	<select id="chartList" resultType="SongInfo">
		select * from songinfo
		<!-- <if test="type != null">
			<choose>
				<when test="type == 'rc'">
					where board_nickname like '%' || #{searchText} ||
					'%'
				</when>
				<when test="type == 'dc'">
					where board_title like '%' || #{searchText} || '%'
				</when>
				<when test="type == 'wc'">
					where board_content like '%' || #{searchText} || '%'
				</when>
			</choose>
		</if> -->
		order by song_inputdate desc
	</select>


</mapper>   