<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="global.sesoc.jazart.dao.ChartMapper">
	<select id="dailyChart" resultType="SongInfo" parameterType="map">
		select * from (select rownum rnum, b.* from (select info.songnum, info.song_nickname, info.song_picture, info.song_title,
		info.song_desc, count(slike.like_time) cnt
		from songinfo info, songlike slike
		where info.songnum = slike.songnum and slike.like_time
		  between to_date(sysdate-1, 'yy/mm/dd') and to_date(sysdate, 'yy/mm/dd')
		  group by info.songnum, info.song_nickname, info.song_picture, info.song_title, info.song_desc
		  order by cnt desc)b)c where rnum between #{start} and #{end}
	</select>
	<select id="dailyCount" resultType="int">
		select count(slike.like_time) cnt
		from songinfo info, songlike slike
		where info.songnum = slike.songnum and slike.like_time between
		to_date(sysdate-1, 'yy/mm/dd') and to_date(sysdate, 'yy/mm/dd')
	</select>
	<select id="realtimeChart" resultType="SongInfo">
		select info.songnum, info.song_title, info.song_genre, info.song_nickname,
		info.song_picture, count(slike.songnum) cnt
		from songinfo info, songlike slike
		where info.songnum = slike.songnum and
		slike.like_time between sysdate-5/24 and sysdate
		group by info.songnum,
		info.song_title, info.song_genre, info.song_nickname,
		info.song_picture
		order by cnt desc
	</select>
	<select id="getDay" resultType="String">
		select to_char(sysdate, 'day') from
		dual
	</select>
	<select id="weeklyChart" resultType="SongInfo" parameterType="map">
		select info.songnum, info.song_nickname, info.song_picture,
		info.song_title, info.song_desc, count(slike.like_time) cnt
		from songinfo info, songlike slike
		where info.songnum = slike.songnum and
		slike.like_time between
		<choose>
			<when test="day == '일요일'"> next_day(sysdate-14, '월요일') and next_day(sysdate-14, '일요일') </when>
			<otherwise> next_day(sysdate-14, '월요일') and next_day(sysdate-7, '일요일') </otherwise>
		</choose>
		group by info.songnum, info.song_nickname, info.song_picture,
		info.song_title, info.song_desc
		order by cnt desc
	</select>
	
	
</mapper>   