<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="global.sesoc.jazart.dao.SampleMapper">
   <select id="boardReply" resultType="Boardreply" parameterType="int">
      select * from boardreply where boardnum = #{boardNum} order by reply_inputdate desc
   </select>
   <insert id="insertBoardreply" parameterType="Boardreply">
   	  insert into boardreply values(boardreply_seq.nextval, #{reply_nickname}, #{reply_text}, sysdate, 0, #{boardNum}) 
   </insert>
   <update id="updateBoardreply" parameterType="Boardreply">   
      update boardreply set reply_text = #{reply_text}, reply_inputdate = sysdate where replynum = #{replynum}
   </update>
   <delete id="deleteBoardreply" parameterType="int">
   	  delete boardreply where replynum = #{replynum}
   </delete>
   <select id="selectRecommend" resultType="int">
	  select count(*) from boardreply_like where replynum = #{0} and blike_nickname = #{1}  
   </select>
   <update id="recommendBoardreply" parameterType="int">
   	  update boardreply set reply_like = reply_like+1 where replynum = #{replynum}
   </update>
   <insert id="addHistory">
   	  insert into boardreply_like values(blike_seq.nextval, #{0}, #{1})
   </insert>
</mapper>