<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="global.sesoc.jazart.dao.SongMapper">
   <select id="selectSong" resultType="SongInfo" parameterType="int">
      select * from SongInfo where songnum = #{songnum}
   </select>
   <update id="recommend" parameterType="int">
	  update SongInfo set song_like = song_like+1 where songnum = #{songnum}   
   </update>
   <select id="songReply" resultType="SongReply" parameterType="int">
      select * from SongReply where songnum = #{songnum} order by reply_inputdate desc
   </select>
   <insert id="insertSongReply" parameterType="SongReply">
   	  insert into SongReply values(SongReply_seq.nextval, #{reply_nickname}, #{reply_text}, sysdate, 0, #{songnum}) 
   </insert>
   <delete id="deleteSongReply" parameterType="int">
   	  delete SongReply where replynum = #{replynum}
   </delete>
   <update id="recommendSongReply" parameterType="int">
   	  update SongReply set reply_like = reply_like+1 where replynum = #{replynum}
   </update>
   <select id="selectRecommend" resultType="int">
	  select count(*) from SongReply_like where replynum = #{0} and slike_nickname = #{1}  
   </select>
   <insert id="addHistory">
   	  insert into SongReply_like values(slike_seq.nextval, #{0}, #{1})
   </insert>
   <update id="updateSongReply" parameterType="SongReply">   
      update SongReply set reply_text = #{reply_text}, reply_inputdate = sysdate where replynum = #{replynum}
   </update>
   <select id="songlikeHistory" resultType="int">
	select count(*) from songlike where songnum = #{0} and like_nickname = #{1}  
   </select>
   <insert id="addSonglike">
      insert into songlike values(like_seq.nextval, #{1}, sysdate, #{0})
   </insert>
   <insert id="insertSongInfo" parameterType="SongInfo">
   	insert into songinfo values(songinfo_seq.nextval, #{song_nickname}, 'default.png', 'default.png', 
   	 #{song_title}, #{song_desc}, 'x', 'x', sysdate, 0, #{song_genre}, 'n')
   </insert>
   <select id="selectSongByName" resultType="int">
	  select count(*) from songinfo where song_nickname = #{0} and song_title = #{1}  
   </select>
   <select id="getSongnum" resultType="int">
	  select songnum from songinfo where song_nickname = #{0} and song_title = #{1}  
   </select>
   <update id="updateSongInfo">
   	  update songinfo set song_picture = #{1}, song_savedpic = #{2} where songnum = #{0}
   </update>
   <insert id="insertSongdata" parameterType="Userlist">
      insert into userlist values(list_seq.nextval, #{songnum}, #{file_type}, #{file_original}, #{file_saved})
   </insert>   
   <select id="selectSongdata" resultType="String">
   	  select file_original from userlist where songnum = #{0} and file_type =#{1}
   </select>
</mapper>