<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="global.sesoc.jazart.dao.SongMapper">
   <select id="selectSong" resultType="Songinfo" parameterType="int">
      select * from songinfo where songnum = #{songnum}
   </select>
   <update id="recommend" parameterType="int">
	  update songinfo set song_like = song_like+1 where songnum = #{songnum}   
   </update>
</mapper>