<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="global.sesoc.jazart.dao.UserMapper">
	<insert id="insert" parameterType="User">
		insert into userinfo
		values(#{user_id}, #{user_pw}, #{user_picture}, #{user_savedpic}, 
		#{user_nickname},
		#{user_phone}, #{user_email}, #{user_desc})
	</insert>
	<select id="selectUser" resultType="User" parameterType="String">
		select *
		from userinfo where user_id = #{userid}
	</select>
	<select id="list" resultType="User">
		select *
		from p_user
	</select>
	<select id="countId" resultType="int" parameterType="String">
		select
		count(user_id) from userinfo where user_id = #{user_id}
	</select>
	<select id="countNickname" resultType="int" parameterType="String">
		select count(user_nickname) from userinfo where user_nickname =
		#{user_nickname}
	</select>
	<select id="countEmail" resultType="int" parameterType="String">
		select
		count(user_email) from userinfo where user_email = #{user_email}
	</select>
	<select id="songsByArtist" resultType="SongInfo" parameterType="String">
		select * from songinfo where song_nickname = #{loginNickname}
	</select>
	<select id="playlist" resultType="SongInfo" parameterType="String">
		select info.songnum, info.song_title,
		info.song_picture,
		info.song_nickname,
		info.song_file from playlist list, songinfo info
		where list.songnum =
		info.songnum and list.user_id = #{userId}
	</select>

	<select id="getPlayOne" resultType="SongInfo" parameterType="int">
		select songnum,song_title,song_picture,song_nickname,song_file from
		songinfo where songnum=#{songnum}
	</select>
	<insert id="addSongList" parameterType="map">
		insert into playlist
		values(#{1},#{0},sysdate)
	</insert>

	<delete id="deleteSongList" parameterType="map">
		delete playlist where
		songnum=#{1} and user_id = #{0}
	</delete>
</mapper>